<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What2Eat?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flat-ui.min.css') }}">
</head>
<body>
    <div class="container">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <a id="btn-w2e" class="btn btn-primary btn-lg btn-block" href="#">Tell me what2eat!</a>
        </div>
        <div class="col-xs-4"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>