<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>R.E.T.A.W Master Permission Required</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flat-ui.min.css') }}">
</head>
<body>
    <div class="container">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <input type="text" placeholder="Enter Username" name="username" required>
        </div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <input type="password" placeholder="Enter Password" name="password" required>
        </div>
        <div class="col-xs-4"></div>
    </div>
    <a id="btn-submit" class="btn btn-primary btn-lg btn-block" href="#">Log in</a>

    <script type="text/javascript" href="{{ url_for('static', filename='js/jquery-2.2.3.js') }}"></script>
    <script type="text/javascript">
        document.getElementById("btn-submit").addEventListener("click", function(e) {
        })
    </script>
</body>
</html>